<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="65" fxFlex.gt-md="65" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-wrap">
          <div>
            <mat-card-title>Administrar Empleados</mat-card-title>
            <mat-card-subtitle>Introducción</mat-card-subtitle>
          </div>
        </div>
    
        <div>
          <p>Esta es una aplicación creada como prueba de conocimientos para CIDENET</p>
          <p>Se conecta a un API Rest creado con Java (Spring Boot), y tiene como funcionalidad crear, listar y eliminar empleados según se requiera.</p>
          <p>Para crear empleados se han creado validadores, los cuales cumplen ciertas restricciones.</p>
          <p>Para listar los empleados, si en el backend hay mas de 10, se pagina enviando solo 10 por página solicitada.</p>
          <p>Los correos electrónicos los crea el API REST automáticamente.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
