<div class="dialog">
  <h1 mat-dialog-title> {{ data.title }} </h1>
  <div mat-dialog-content>
    {{ data.msg }}
  </div>
  <br>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onNoClick()" >Cancelar</button>
    <button class="rigth" mat-button [mat-dialog-close]="true" color="warn" cdkFocusInitial> {{ data.msgButton }} </button>
  </mat-dialog-actions>
</div>
