<mat-toolbar>
    <span class="spacer"></span>
    <span>Listado de Empleados</span>
    <span class="spacer"></span>
    <button mat-raised-button routerLink="/employees/add" color="primary">
      <mat-icon>add_circle</mat-icon>
      Crear nuevo
    </button>
</mat-toolbar>

<div class="spinner-overlay">
    <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
</div>

<mat-card>
    <mat-card-content>
        <div *ngIf="dataLength > 0">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
            
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let employee">
                        {{ employee.id }}
                    </td>
                </ng-container>
            
                <!-- FirstName Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef>Primer Nombre</th>
                    <td mat-cell *matCellDef="let employee">
                        {{ employee.firstName }}
                    </td>
                </ng-container>
            
                <!-- OtherNames Column -->
                <ng-container matColumnDef="otherNames">
                    <th mat-header-cell *matHeaderCellDef>Segundo Nombre</th>
                    <td mat-cell *matCellDef="let employee">
                        {{ employee.otherNames }}
                    </td>
                </ng-container>
            
                <!-- FirstSurname Column -->
                <ng-container matColumnDef="firstSurname">
                    <th mat-header-cell *matHeaderCellDef>Primer Apellido</th>
                    <td mat-cell *matCellDef="let employee">
                        {{ employee.firstSurname }}
                    </td>
                </ng-container>
            
                <!-- Country Column -->
                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef>País</th>
                    <td mat-cell *matCellDef="let employee">
                        {{ getPaisForHtml(employee.country) }}
                    </td>
                </ng-container>
            
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Correo Electrónico</th>
                    <td mat-cell *matCellDef="let employee">
                        {{ employee.email }}
                    </td>
                </ng-container>
            
                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let employee">
                        <span class="spacer"></span>
                        <button mat-icon-button color="warn" (click)="showDeleteDialog(employee)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator class="mat-elevation-z8" [pageSize]="pageSize" [length]="dataLength" (page)="pageChanged($event)">
            </mat-paginator>
        </div>
        <p  *ngIf="dataLength <= 0">No hay empleados para mostrar, cuando cree un empleado será cargado aquí.</p>
    </mat-card-content>
</mat-card>
<br>
<br>