/* You can add global styles to this file, and also import other style files */

table {
    width: 100%;
}



.snack-error {
    background-color: brown !important;
}

.spacer {
    flex: 1 1 auto;
}

.center-items {
    align-items: center;
    justify-content: center;
}
