<mat-toolbar>
    <span class="spacer"></span>
    <span>Crear un nuevo Empleados</span>
    <span class="spacer"></span>
    <button mat-raised-button routerLink="/employees" color="accent">
        <mat-icon>feed</mat-icon>
        Listar Empleado
    </button>
</mat-toolbar>

<div class="spinner-overlay">
    <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
</div>

<mat-card>
    <mat-card-content>
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <mat-form-field appearance="fill">
                <mat-label>Primer Apellido</mat-label>
                <input matInput name="firstSurname" formControlName="firstSurname" />
                <mat-error *ngIf="firstSurname?.touched && firstSurname?.errors?.['required']" >Debe ingresar el primer apellido</mat-error>
                <mat-error *ngIf="firstSurname?.touched && firstSurname?.errors?.['minlength']">El primer apellido debe tener al menos 2 caracteres</mat-error>
                <mat-error *ngIf="firstSurname?.touched && firstSurname?.errors?.['maxlength']">El primer apellido no debe tener mas de 20 caracteres</mat-error>
                <mat-error *ngIf="firstSurname?.touched && firstSurname?.errors?.['pattern']">El primero apellido no debe contener espacios, acentos o caracteres especiales (Ñ)</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Primer Nombre</mat-label>
                <input matInput name="firstName" formControlName="firstName" />
                <mat-error *ngIf="(firstName?.dirty || firstName?.touched) && firstName?.errors?.['required']" >Debe ingresar el primer nombre</mat-error>
                <mat-error *ngIf="(firstName?.dirty || firstName?.touched) && firstName?.errors?.['minlength']">El primer nombre debe tener al menos 2 caracteres</mat-error>
                <mat-error *ngIf="(firstName?.dirty || firstName?.touched) && firstName?.errors?.['maxlength']">El primer nombre no debe tener mas de 20 caracteres</mat-error>
                <mat-error *ngIf="(firstName?.dirty || firstName?.touched) && firstName?.errors?.['pattern']">El primero nombre no debe contener espacios, acentos o caracteres especiales (Ñ)</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Otros Nombres</mat-label>
                <input matInput name="otherNames" formControlName="otherNames" />
                <mat-error *ngIf="(otherNames?.dirty || otherNames?.touched) && otherNames?.errors?.['minlength']">Debe tener al menos 2 caracteres</mat-error>
                <mat-error *ngIf="(otherNames?.dirty || otherNames?.touched) && otherNames?.errors?.['maxlength']">No debe tener mas de 20 caracteres</mat-error>
                <mat-error *ngIf="(otherNames?.dirty || otherNames?.touched) && otherNames?.errors?.['pattern']">No debe contener acentos o caracteres especiales (Ñ)</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>País</mat-label>
                <mat-select formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{ country }}
                    </mat-option>
                </mat-select>
                <mat-error>Por favor escoja un País</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">
                <mat-icon>save</mat-icon>
                Guardar Empleado
            </button>
        </form>
    </mat-card-content>
</mat-card>
<br>
<br>